/* mobile adaptive  */
@media all and (max-width: 500px){

    navbar{
        background: #172755;
        padding: 2%;
        box-shadow: 0px 5px 100px 37px rgba(0, 0, 0, 0.5);
    }

    .navbar-list{
        display: none;
    }

    .navbar-logo{
        margin-left: 4%;
        margin-top: -1%;
    }

    .sign-in-link{
        margin-top: -71%;
    }

    .sign-up-btn{
        display: none
    }

    .hamburger-menu{
        display: block;
    }

    .main-small-chart{
        display: none;
    }

    .main-big-chart{
        margin-left: -31%;
        margin-top: -132%;
        width: 93%;
    }

    .main-btn{
        width: 184%;
        padding: 8%;
    }
    
    .main-descr{
        width: 22rem;
    }

    .main-title{
        margin-top: 205%;
        font-size: 31px;
        width: 22rem;
        line-height: 35px;
    }

    main{
        text-align: center;
    }

    .base{
        height: 116vh;
    }

    .services{
        gap: 38px;
        margin-left: -1%;
        flex-flow: column;
    }

    .service-title-1,
    .service-title-2,
    .service-title-3{
        margin-top: -3%;
    }

    .service-descr-1,
    .service-descr-2,
    .service-descr-3{
        margin-top: -2%;
        width: 76%;
        margin-left: 13%;
    }

    .content{
        margin-top: 454%;
    }

    .chart-1{
        text-align: center;
    }

    .chart-1-title{
        width: 83%;
        margin-left: 2%;
    }

    .chart-1-descr{
        margin-top: 5%;
        margin-left: 6%;
        width: 76%;
    }

    .chart-1-image{
        width: 93%;
        margin-left: -51%;
        margin-top: 0%;
    }

    .chart-2{
        margin-top: 81%;
        text-align: center;
        width: 124%;
        margin-left: 11%;
    }

    .chart-1-title,
    .chart-2-title
    .chart-3-title{
        font-size: 30px;
    }

    .chart-2-descr{
        width: 62%;
    }

    .chart-2-image{
        width: 93%;
        margin-top: 2%;
        margin-left: -70%;
    }

    .chart-3{
        text-align: center;
        margin-top: 67%;
        margin-left: 32%;
    }

    .chart-3-title{
        width: 83%;
        margin-left: -17%;
    }

    .chart-3-descr{
        width: 106%;
        margin-left: -26%;
        margin-top: 5%;
    }

    .chart-3-image{
        width: 93%;
        margin-left: -63%;
        margin-top: 0%;
    }

    .content{
        margin-top: 362%;
        height: 133vh;
    }

    .price-plan{
        margin-left: 5%;
    }

    .price-plan-title{
        margin-top: 37%;
        font-size: 30px;
    }

    .footer-list{
        display: none;
    }

    .prices{
        margin-top: 12%;
    }

    .starter,
    .standard,
    .premium{
        padding: 12% 16%;
    }

    .starter-line,
    .standard-line,
    .premium-line{
        margin-left: -46%;
    }

    .starter{
        margin-left: -3%;
        padding: 12% 20%;
    }

    .starter-title{
        margin-top: -33%;
    }

    .starter-line{
        margin-top: -3%;
        margin-left: -84%;
        width: 270%;
    }

    .starter-btn{
        margin-top: 22%;
        width: 191%;
        margin-left: -41%;
    }

    footer{
        margin-top: -12%;
    }

    .footer-logo{
        margin-left: 0%;
    }

    .footer-icons{
        padding: 0% 8%;
    }    
}

/*! mobile adaptive  */